@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-image: url(../images/background.png);
  background-position: center;
  background-size: cover
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
  font-family: "Century Gothic", 'Lato', sans-serif;
}

.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo{
  width: 250px;
  cursor: pointer;
}
.logo{
  width: 270px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 45px;
  cursor: pointer;
}
.university{
  width: 250px;
  cursor: pointer;
}
.university{
  width: 250px;
  padding-left: 5%;
  padding-right: 1%;
  margin-top: 30px;
  cursor: pointer;
}
nav{
  flex: 1;
  padding-left: 30;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 15px;
}
nav ul li a{
  text-decoration: none;
  color: #333;
  font-family: "Century Gothic", 'Lato', sans-serif;
}
.faqs-container {
	margin: 0 auto;
	max-width: 650px;
	padding-bottom: 10px;
	padding-top: 20px;
}

.faq {
	background-color: #a6e7ff;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 16px;
	position: relative;
	overflow: hidden;
	margin: 20px 0;
	transition: 0.3s ease;
}

.faq.active {
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.faq.active::after, .faq.active::before {
	color: #2ecc71;
	content: '\f075';
	font-family: "Century Gothic", 'Lato', sans-serif
	font-size: 7rem;
	position: absolute;
	opacity: 0.2;
	top: 20px;
	left: 30px;
	z-index: 0;
}

.faq.active::before {
	color: #3498db;
	top: -10px;
	left: -30px;
	transform: rotateY(180deg);
}

.faq-title {
	margin: 0 35px 0 0;
}

.faq-text {
	display: none;
	margin: 30px 0 0;
}

.faq.active .faq-text {
	display: block;
}

.faq-toggle {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	padding: 0;
	position: absolute;
	top: 30px;
	right: 30px;
	height: 30px;
	width: 30px;
}

.faq-toggle:focus {
	outline: none;
}

.faq.active .faq-toggle {
	background-color: #232d60;
}

.faq-toggle .fa-times {
	display: none;
}

.faq.active .faq-toggle .fa-times {
	display: block;
}

.faq-toggle .fa-chevron-down {
	color: #83888E;
}

.faq.active .faq-toggle .fa-chevron-down {
	display: none;
}

.social-links{
	transform: rotate(-90deg);
	position: absolute;
	left: -80px;
	bottom: 180px;
	font-family: "Century Gothic", 'Lato', sans-serif;
}
.social-links a{
	text-decoration: none;
	color: #6a7199;
	padding-right: 20px;
	font-size: 14px;
}
.terms{
	color: #fff;
	background-color: #232d60;
	padding-left: 400px;
	padding-top:20px;
	padding-bottom: 15px;
}
.content{
	padding-left: 95px;
}
.content h2{
	padding-left: 5px;
}



