/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #b10f56;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float:left;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  /* display:flexbox; */
}

/* Navbar links on mouse-over */
/* .navbar a:hover {
  background-color: rgb(43, 23, 221);
} */

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* .alumni-dashboard{
  top: 50000000000000000000000000000000px;
} */

footer {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #b10f56;
}