.logo{
    padding: 5px;
}

.main{
    background-image: url('../images/istockphoto-1301533980-170667a.jpg');
    background-size: cover;
}

.ti{
  text-align: center;
}

.box {
    background-color: azure;
    height: 250px;
    margin-left: 25px;
    margin-top: 2px;
  }

.re{

   float: right;
   width: 60%;
}

.le{
    float: left;
    width:40%;
}

.entry{
    margin-left: 17%;
    margin-top: 15%;
}
.but{
    margin-left:32%;
}
.btn{
    position: absolute;
    margin-left: 180px;
    background-color: rgb(206, 65, 206);
  border: none;
  color:rgb(7, 6, 6);
  font-size: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
    
  }
  .btn:hover {
    background-color:rgb(234, 234, 229);
  }
  
  .btn:active {
    background-color: rgb(235, 235, 230);
  }

  .bton{
    position: absolute;
    margin-left: 97px;
    background-color: rgb(206, 65, 206);
  border: none;
  color:rgb(7, 6, 6);
  font-size: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
    
  }
  .bton:hover {
    background-color:rgb(204, 204, 34);
  }
  
  .bton:active {
    background-color: rgb(230, 230, 27);
  }
  .copy{
     margin-right: 25px;
     display: inline-block;

  }
  
  .no-underline {
    display: inline-block;
    text-decoration: none;
  }

  .feed{
    background-color: aliceblue;
    width: 500px;
    margin-top: 50px;
    border-radius: 20px;
  }

  .unique{
    display: inline-block;
  }

  .feedback{
    display: inline-block;
  }

  .foot{
    position:relative;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }